<div class="header mat-elevation-z8" style="font-size: 40px; font-family: Arial, Helvetica, sans-serif; margin-bottom: 10px;">
    <div style="padding-top: 60px;"></div>
    Diversity Hiring Playground
    <div style="padding-top: 10px;"></div>
    <div style="font-size: 20px;">Don't worry, nobody will be offended here</div>
</div>

<h1 style="margin-left: 20px">Applicant Parameters</h1>
<mat-divider style="margin: 20px; width: 500px;"></mat-divider>

<mat-form-field appearance="outline">
  <mat-label>Number of applicants</mat-label>
  <input
    matInput
    type="text"
    [(ngModel)]="numPeople">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Male Fraction</mat-label>
  <input
    matInput
    type="text"
    [(ngModel)]="percentMale">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Average Competency</mat-label>
  <input
    matInput
    type="text"
    [(ngModel)]="averageCompetency">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Competency Variation</mat-label>
  <input
    matInput
    type="text"
    [(ngModel)]="competencyDev">
</mat-form-field>

<div style="margin-left: 20px">* Competency of applicants follow a Gaussian Distribution</div>

<h1 style="margin-left: 20px">Company Parameters</h1>
<mat-divider style="margin: 20px; width: 500px;"></mat-divider>

<mat-form-field appearance="outline">
  <mat-label>Number of companies</mat-label>
  <input
    matInput
    type="text"
    [(ngModel)]="numTeam">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Number of hires per company</mat-label>
  <input
    matInput
    type="text"
    [(ngModel)]="hires">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Minimum Diversity Score</mat-label>
  <input
    matInput
    type="text"
    [(ngModel)]="minDiversity">
</mat-form-field>

<mat-form-field appearance="outline">
  <mat-label>Maximum Diversity Score</mat-label>
  <input
    matInput
    type="text"
    [(ngModel)]="maxDiversity">
</mat-form-field>

<div style="margin-left: 20px">
  * Each company will attempt to achieve a randomly assigned diversity score.
  Diversity score of 0 means the company has no gender diversity,
  1 means the company has equal number of male and female employees.
</div>

<button mat-raised-button color="primary" (click)='startHiring()' style="margin: 20px;">Run Simulation</button>

<!-- Table -->
<div style="margin: 20px;">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

    <!-- Name Column -->
    <ng-container matColumnDef="position">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Team ID </th>
      <td mat-cell *matCellDef="let team"> {{team.id}} </td>
    </ng-container>
  
    <!-- Min Diversity Column -->
    <ng-container matColumnDef="minimumDiversity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Min. Diversity </th>
      <td mat-cell *matCellDef="let team"> {{team.minimumDiversity}} </td>
    </ng-container>

    <!-- Achieved Diversity Column -->
    <ng-container matColumnDef="attainedDiversity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Attained Diversity </th>
      <td mat-cell *matCellDef="let team"> {{team.attainedDiversity}} </td>
    </ng-container>
  
    <!-- Attained Productivity Column -->
    <ng-container matColumnDef="attainedProductivity">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Attained Productivity </th>
      <td mat-cell *matCellDef="let team"> {{team.attainedProductivity}} </td>
    </ng-container>

    <!-- Difference in Productvitiy between Men and Women Column -->
    <ng-container matColumnDef="compDifference">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Productivity Difference between Men and Women</th>
      <td mat-cell *matCellDef="let team"> {{team.compDifference}} </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
</div>

<h1 style="margin-left: 20px">Average Productivity of All Companies: {{averageProductivity}}</h1>
<mat-divider style="margin: 20px;"></mat-divider>

<div class="center-screen">
  <h1 style="font-size:55px">Discussion</h1>
  <p class="lead paragraph-text">
    This is a tool developed to analyze the impact of diversity hiring practices
    from a statistical perspective. You can play with the parameters above to
    attain interesting simulation results that can enlighten you.
  </p>
  <h3 style="margin-top: 20px;">How is the simulation run?</h3>
  <p class="lead paragraph-text">
    At the start, the simulation creates job applicants with random competencies and genders
    as specified by the applicant parameters. The simulation also creates companies that hire
    applicants as specified by company parameters. The randomly assigned diversity score
    will determine the ratio of male and female employees the company will attempt to achieve
    through hiring (a company may fail to achieve its desired diversity ratio if there are too few applicants
    of a particular gender in the applicant pool). As the ratio skews towards one gender,
    the diversity score decreases. The diversity score is calculated as <i>2 / (Ratio + 1)</i>.
  </p>
  <p class="lead paragraph-text">
    The simulation then allow each company to randomly take turn to recruit applicants. Each
    company will have a maximum number of employees it can hire of each gender to ensure that
    it can attain its diversity quota. As a result, some applicants may be skipped over by
    companies if they already have sufficient number of hires of the applicants' genders.
    <b>Each company will always hire the most competent individual available at a given turn
    that fits their gender quota.</b>
    Once all the company hires the sufficient number of employees as specified by the company
    parameter, their actual diversity and productivity scores are calculated. The productivity
    is calculated as the average competency of the company's newly hired employees. Another score
    that is calculated is the difference between the average competencies of the two gender groups.
  </p>
  <h3 style="margin-top: 20px;">What does productivity mean?</h3>
  <p class="lead paragraph-text">
    Productivity is merely a convenient and significantly simplified metric to quantify how
    well a company works. It can mean anything from speed of delivery and quality of development.
    For the sake of the simulation, it helps to compare the effectiveness between companies with
    different diversity scores.
  </p>
  <h3 style="margin-top: 20px;">What should I expect to see and what does the result mean?</h3>
  <p class="lead paragraph-text">
    With the default parameter, you will be surprised to find that there is no significant
    difference in productivity between companies that require a high diversity score and
    those that require a low score. One explanation is that there is not much difference
    in competency between "talented" applicants and "normal" applicants. You might see a
    more pronounced difference if you increase the "Competency Variation" parameter.
  </p>
  <p class="lead paragraph-text">
    This tool does not say anything about whether diversity is beneficial or detrimental to
    businesses. It merely sets up an environment to learn more about how various environmental
    factors affect a company's ability to hire diversely. Furthermore, this is a significantly
    simplified model, as it does not address other factors such as the increased cost of
    hiring diversely and decisions made by applicants and companies of their peculiar
    characteristics. The ideal mindset to take away from this tool is understanding the
    mechanisms of diverse hiring practices, not whether diverse hiring is good or bad for
    a company.
  </p>
</div>